.bg-img{
    background: url("https://i.ibb.co/GJD7WZV/a542b72ccd750db377f61e94c1186115-p-e.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.bg-img:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 115%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.content{
    width: 450px;
    position: absolute;
    top: 65%;
    left: 50%;
    bottom: ;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    padding: 60px 32px;
    background: rgba(255,255,255,0.04);
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
}
.content h2{
    color: #fff;
    font-size: 30px;
    font-weight: 33px;
    margin: 0 0 35px 0;
    font-family: 'Montserrat',sans-serif;
}
.field{
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
}
.field input{
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #222;
    font-size: 16px;
    font-family: 'Poppins',sans-serif;
}
.field span{
    color: #222;
    width: 40px;
    line-height: 45px;
}
.text{
    margin: 10px 0;
}
.text p{
    color: #fff;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.text a{
    color: greenyellow;
    font-family: 'Poppins',sans-serif;
    text-decoration: none;
}
.space{
    margin-top: 16px;
}
input[type='submit']{
    background: black;
    border: 1px solid green;
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Montserrat',sans-serif;
    transition: 0.25s ease-in;
}
input[type='submit']:focus{
    background: #34984b;
    border: 1px solid #2691d9;
    color: #fff;
    margin: 0 130px 0 130px;
}
.show{
    position: absolute;
    top: 8px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}
.another-login{
    color: #fff;
    margin: 20px 0;
    font-family: 'Poppins',sans-serif;
}
.link-btn{
    display: flex;
    cursor: pointer;
    color: #fff;
    margin: 0 0 20px 0;
}
.link-btn i{
    font-size: 17px;
}
.link-btn span{
    font-size: 16px;
    margin-left: 8px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
.google-btn, .fb-btn{
    width: 100%;
    height: 42px;
    line-height: 45px;
    margin-top: 10px;
    border-radius: 24px;
}
.fb-btn{
    background: #4267B2;
}
.google-btn{
    background:linear-gradient(60deg, red, yellow, green);
}